.play-game-btn, .num-of-player-btn, .board-size-btn, .start-game-btn, .back-to-setting-btn, .reset-btn{
    font-family: 'Alegreya Sans', sans-serif;
    width: 250px;
    height: 100px;
    font-size: 40px;
    padding: 20px;
    border-radius: 8px;  
    background-color: #C31B0A;
    border: 1px solid #C31B0A;
    color: white;
    outline-style: none;
  }

  .num-of-player-btn, .board-size-btn{
    width: 45%;
    height: 75px;
    margin-top: 20px;
  }

  .board-size-btn{
    margin: 20px 10px 0;
    width: auto;
  }

  .btn{
    cursor:pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
  }

  .start-game-btn{
    width: 90%;
    height: 60px;
  }
  
  .btn:hover{
    background-color: #FF1800;
    color: white;
  }

  .back-to-setting-btn, .reset-btn{
    height: 60px;
    width: 400px;
  }