.play-game-btn, .num-of-player-btn, .board-size-btn, .start-game-btn{
    font-family: 'Alegreya Sans', sans-serif;
    width: 250px;
    height: 100px;
    font-size: 40px;
    padding: 20px;
    border-radius: 8px;  
    background-color: #CB4335;
    border: 1px solid #CB4335;
    color: white;
    outline-style: none;
  }

  .num-of-player-btn, .board-size-btn{
    width: 45%;
    height: 75px;
    margin-top: 20px;
  }

  .board-size-btn{
    margin: 20px 10px 0;
    width: auto;
  }

  .btn{
    cursor:pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .start-game-btn{
    width: 90%;
    height: 60px;
    margin-top: 20px;
  }
  