.game-setting-wrapper, .perfect-center, .home-page-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .num-of-player-wrapper, .board-size-wrapper{
    display: flex;
    justify-content: space-around;
  }

  .board-size-wrapper{
    align-items: center;
  }

  .board, .square, .coin, .inner-coin{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-page-wrapper, .game-setting-wrapper{
    width: 100vw;
    height: 100vh;
  }

  .main-game-section{
    display: flex;
  }
  .game-on-play-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }